<?testXml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        前后置处理器，动态代理
    -->
    <bean id="demoBeanPostProcessor" class="testLifeCycle.testBeanPostProcessor.DemoImpl"/>
    <bean class="testLifeCycle.testBeanPostProcessor.MyBeanPostProcessor"/>

</beans>