<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.config.mapper.RecordMapper">

    <!-- #################### SQL片段 #################### -->

    <sql id="findRecordInDetailWhere">
        <if test="recordCustom != null">
            <if test="recordCustom.r_id != null and recordCustom.r_id != 0">
                and r_id = #{recordCustom.r_id}
            </if>
            <if test="recordCustom.cl_id != null and recordCustom.cl_id != 0">
                and cl_id = #{recordCustom.cl_id}
            </if>
            <if test="recordCustom.st_id != null and recordCustom.st_id != 0">
                and st_id = #{recordCustom.st_id}
            </if>
            <if test="recordCustom.c_id != null and recordCustom.c_id != 0">
                and c_id = #{recordCustom.c_id}
            </if>
            <!--<if test="recordCustom.r_time != null">-->
                <!--and r_time = #{recordCustom.r_time}-->
            <!--</if>-->
            <if test="recordCustom.r_price != null and recordCustom.r_price != 0">
                and r_price = #{recordCustom.r_price}
            </if>
            <if test="recordCustom.r_num != null and recordCustom.r_num != 0">
                and r_num = #{recordCustom.r_num}
            </if>
            <if test="recordCustom.r_pattern != null and recordCustom.r_pattern != ''">
                and r_pattern like '%${recordCustom.r_pattern}%'
            </if>
            <if test="recordCustom.cl_name != null and recordCustom.cl_name != ''">
                and cl_name like '%${recordCustom.cl_name}%'
            </if>
            <if test="recordCustom.st_address != null and recordCustom.st_address != ''">
                and st_address like '%${recordCustom.st_address}%'
            </if>
            <if test="recordCustom.c_name != null and recordCustom.c_name != ''">
                and c_name like '%${recordCustom.c_name}%'
            </if>
        </if>
    </sql>

    <!-- 分页查询 -->
    <sql id="limit">
        <if test="page != null">
            limit #{page.offSet}, #{page.size}
        </if>
    </sql>

    <!-- #################### resultMap #################### -->


    <!-- #################### select #################### -->

    <select id="findRecordLimitInDetail" parameterType="RecordQueryVo" resultType="RecordCustom">
        select *
        from recordcustom
        <where>
            <include refid="findRecordInDetailWhere"/>
        </where>
        <include refid="limit"/>
    </select>


    <!-- #################### insert #################### -->


    <!-- #################### update #################### -->


    <!-- #################### delete #################### -->
</mapper>