<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.config.mapper.UserMapper">
    <!-- #################### SQL片段 #################### -->

    <!-- 条件查询 -->
    <sql id="findUserInDetailWhere">
        <if test="userCustom != null">
            <if test="userCustom.u_id != null and userCustom.u_id != 0">
                and u_id = #{userCustom.i_id}
            </if>
            <if test="userCustom.d_id != null and userCustom.d_id != 0">
                and d_id = #{userCustom.d_id}
            </if>
            <if test="userCustom.username != null and userCustom.username !=''">
                and username = #{userCustom.username}
            </if>
            <if test="userCustom.password != null and userCustom.password != ''">
                and password = #{userCustom.password}
            </if>
        </if>
    </sql>

    <!-- 分页查询 -->
    <sql id="limit">
        <if test="page != null">
            limit #{page.offSet}, #{page.size}
        </if>
    </sql>

    <!-- #################### resultMap #################### -->

    <!-- #################### select #################### -->

    <!-- [分页][条件]查询所有用户信息 -->
    <select id="findUserLimitInDetail" parameterType="UserQueryVo" resultType="UserCustom">
        select *
        from user
        <where>
            <include refid="findUserInDetailWhere"/>
        </where>
        <include refid="limit"/>
    </select>

    <!-- 根据username查询用户信息 -->
    <select id="findUserByUserName" parameterType="java.lang.String" resultType="UserCustom">
        select *
        from user
        where username = #{value};
    </select>

    <!-- #################### insert #################### -->

    <!-- 插入一条信息 -->
    <insert id="insertUser" parameterType="UserCustom">
        insert into user (d_id, username, password)
        VALUES (9, #{username}, #{password});
        <selectKey keyProperty="u_id" order="AFTER" resultType="java.lang.Integer">
            select last_insert_id();
        </selectKey>
    </insert>


    <!-- #################### update #################### -->

    <!-- 更新用户信息 -->
    <update id="updateUser" parameterType="UserCustom">
        update user set password = #{password} where username = #{username};
    </update>


    <!-- #################### delete #################### -->

</mapper>