<?testXml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        作用域
        singleton 单例
        prototype 多例
    -->
    <bean id="demoBeanScope" class="testScope.DemoImpl" scope="singleton"/>
    <!--<bean id="demoBeanScope" class="testScope.DemoImpl" scope="prototype"/>-->

</beans>